doctype html
html
    head
        meta(charset='utf-8')
        title= title
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(type="text/javascript" src="/socket.io/socket.io.js")
        script.
          var socket = io.connect();
    body
      .Putin
        form(class="cp_ipselect cp_sl01")
          select(id="userID")
            option(value="" hidden) せんたくしてください
            option(value="・ω・") ・ω・
            option(value="˘ω˘") ˘ω˘
            option(value="><") ><
        .Field
          .Area
            .buttonArea
              button(class="button1" type="button" id="left15") ↖
              button(class="button1" type="button" id="go") ↑
              button(class="button1" type="button" id="right15") ↗
              button(class="button1" type="button" id="left90") ←
              .space
              button(class="button1" type="button" id="right90") →
              button(class="button1" type="button" id="left135") ↙
              button(class="button1" type="button" id="back") ↓
              button(class="button1" type="button" id="right135") ↘
            .under
              div(class="firstmatch label active" id="first") 前半戦
              button(class="reset" type="button" id="onereturn") ひとつけす
              div(class="scroll" id="FPCList")
          .Area
            .buttonArea
              button(class="button1" type="button" id="left15Final") ↖
              button(class="button1" type="button" id="goFinal") ↑
              button(class="button1" type="button" id="right15Final") ↗
              button(class="button1" type="button" id="left90Final") ←
              .space
              button(class="button1" type="button" id="right90Final") →
              button(class="button1" type="button" id="left135Final") ↙
              button(class="button1" type="button" id="backFinal") ↓
              button(class="button1" type="button" id="right135Final") ↘
            .under
              div(class="finalmatch label" id="second") 後半戦
              button(class="reset" type="button" id="onereturnFinal") ひとつけす
              div(class="scroll" id="SPCList")
          .order
            button(class="subsend" type="button" id="subsend") 前半戦おためし△
            button(class="subsend2" type="button" id="subsendFinal") 後半戦おためし△
            button(class="send" type="button" id="send")  アップロード○
            button(class="reset" type="button" id="reset") リセット□
            div(id="teamcolor" class="teamcolor")
              div(class="textcolor") キミの色
      iframe(class="iframe" id="iframe")
      script(type='text/javascript' src='/js_client/index.js')
